@import '../../assets/styles/media-variable';

.home__products {
  max-width: 81.25rem;
  margin: 3.375rem auto 7.625rem;
  padding: 0 3.125rem;

  @media (max-width: $tablet) {
    padding: 0 1.25rem;
  }

  @media (max-width: $mobile) {
    padding: 0 0.625rem;
  }
}
