@import "./media-variable";

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;

  @media (max-width: $tablet) {
  }

  @media (max-width: $mobile) {
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-weight: 500;
  overflow-x: hidden;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.App {
  height: 100%;
}

.visually__hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.column1 {
  top: 0;
  width: 30%;
}

.column2 {
  width: 70%;
  max-height: 100vh;
  overflow-y: auto;
}

// https://www.npmjs.com/package/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
